
@use '../custom' as *;

.navbar
        {
            border-bottom:1px solid rgba($primary, 0.95) !important;
            // box-shadow: 5px 10px !important;
        }
.menu {
    background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));
    border-bottom: 5px;
    border-color: white;
}

.menu li {
    // padding increases the space between elements
    padding: 0 0.7rem;

}

.menu li a {
    color: $white!important; 
    text-transform: capitalize;
    font-weight: 600;
}

.display-6 {
    color: white;
    // font-family: 'Poppins', sans-serif;
}